<footer>
<p>
  ขอบคุณ 11TY (Eleventy) สำหรับ Static Site Generator (SCG) ที่ใช้งานง่าย สะดวก ทำงานได้รวดเร็ว และ Phil Hawksworth สำหรับ EleventyOne Boilerplate Template สวย และ เรียบง่าย เข้ากันได้กับเรื่องราวที่พวกเราเขียน
</p>
<p>
  เขียน และ ทำขึ้นที่บ้าน : 25 สิงหาคม 2569 - 02:02 PM
</p>
</footer>
